
    body {
        font-family: 'Poppins' !important;
    }

    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }


    .btn-color {
        background: transparent linear-gradient(180deg, #0070BA 0%, #0D0D80 100%) 0% 0% no-repeat padding-box;
        border-radius: 9px;
        opacity: 1;
        color: #fff !important;

    }

    .container-fluid {
        background-image: url('../../jobprovider/assets/fluid.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;


    }

    @media (max-width: 450px) {
        .h-custom {
            height: 100%;
        }



        h3 {
            font-family: 'Quicksand' !important;
            font-weight: 600 !important;
            letter-spacing: 1px;
            color: #000000;
            opacity: 1;
            font-size: 32px !important;
            text-transform: uppercase;

        }

        .form-control {
            background-color: #F3E5F5;
            border-radius: 50px !important;
            padding: 12px 15px 12px 15px !important;
            width: 100%;
            box-sizing: border-box;
            border: none !important;
            z-index: 1;
            font-size: 16px !important;
            color: #000 !important;
            font-weight: 400;

        }

        .img-responsive {
            margin: 0 auto;
        }

        .gradient-button-1 {
            background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%)
        }
    }

    .icon {
        padding: 6px;
        background: #208CD1;
        color: white;
        min-width: 36px;
        text-align: center;
        border-radius: 13px;
        position: absolute;
        top: 0px;
        z-index: 999;

    }

    .icons {
        top: 0;
    }

    .group {
        background-image: url('../jobprovider/assets/card.png');
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 25px !important;

    }

    .img-fluid {
        margin-top: 85px;
        height: 400px !important;
        width: 504px;
    }

    .login {
        font-size: 600px;
    }

    .heading {

        font-family: 'Poppins' !important;
        font-size: 20px !important;
        font-weight: 900 !important;
        color: #0072BB;
    }

    .form-control1 {
        width: 125% !important;
        height: 46px !important;
    }

